<p><%= notice %></p>

<h1>Listando Clientes</h1>

<table>
  <thead>
    <tr>
      <td>Nome</td>
      <td></td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |c| %>
      <tr>
        <td><%= c.name %></td>
        <td><%= link_to 'Mostrar', customer_path(c) %></td>
        <td><%= link_to 'Editar', edit_customer_path(c) %></td>
        <td><%= link_to 'Excluir', c, data: { turbo_method: :delete, turbo_confirm: "Você tem certeza que deseja excluir? "} %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br/>

<%= link_to 'Novo Cliente', new_customer_path %>